
.card-text {
    font-size: .9rem;
    line-height: 1rem;
}

#back-to-top{
    text-decoration: none;
    background-color: red;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    bottom: 3em;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    position: fixed;
    padding-top: .2rem;
    opacity: 0;
    transition: all .3s ease-in-out;
}

#back-to-top.visible {
    opacity: 1;
}
