body{
    margin: 0;
    padding: 0;
}

h2{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    background-color: red;
    margin: 0 25px;
}