
.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.student p{
  margin: 0;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 0;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(7, 114, 114);
  border: none;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: rgb(1, 66, 66);
}

