.carousel-item {
    height: 75vh;
    object-fit: contain;
}

.carousel-item h5, p {
    color: black;
} 

.footer {
    height: 200px;
    background-color: black;
    padding: 20px;
}

.footer p {
    color: white;
}